@media only screen and (max-width: 1230px) {
  /* Result Page */
  .search.banner #filter .form-field {
    width: 32%; }

  .bike-gallery .bike-thumb {
    height: 127px;
    padding: 10px; }
  .bike-gallery .rent-info {
    padding: 5px; }
    .bike-gallery .rent-info .bike-price {
      width: 50px;
      font-size: 20px; } }
@media only screen and (max-width: 1024px) {
  html body {
    padding-top: 70px; }

  /* Header Section */
  .header {
    padding: 20px 0; }
    .header .header-wrap .left-logo {
      max-width: 150px; }
    .header .header-wrap .right-side-button .flag-image-wrap {
      margin-right: 60px; }

  /* Header Section Over*/
  /* banner Section */
  .banner {
    height: 400px; }
    .banner .banner-wrap .banner-details .banner-content h1 {
      font-size: 30px;
      margin-bottom: 30px; }
    .banner .banner-wrap .banner-details .drop-down-wrap {
      height: 42px;
      line-height: 42px; }
      .banner .banner-wrap .banner-details .drop-down-wrap .dropdown {
        max-height: 130px; }
    .banner .banner-wrap .banner-details .banner-form-wrap > span {
      margin-right: 30px;
      margin-top: 0; }
      .banner .banner-wrap .banner-details .banner-form-wrap > span img {
        width: 28px;
        height: 40px; }
    .banner .banner-wrap .banner-details .banner-form-wrap .form-field {
      width: 200px;
      margin-right: 10px; }
      .banner .banner-wrap .banner-details .banner-form-wrap .form-field input {
        height: 42px; }
    .banner .banner-wrap .scroll-down {
      position: absolute;
      bottom: 10px; }
      .banner .banner-wrap .scroll-down i {
        font-size: 50px; }

  /* banner Section Over*/
  /* Product Section */
  .bike-rent-works .title {
    font-size: 28px; }

  /* Product Section Over */
  /* Result Page */
  .shop-locatin-on-map {
    width: 40%;
    top: 71px; }

  .bike-search-result:before {
    background-size: contain;
    height: 507px; }

  .search.banner #filter .form-field {
    width: 47.5%; }
  .search #filter input {
    height: 42px; }
  .search.banner #filter .form-field.search-btn {
    width: 100%;
    display: block;
    margin: 20px auto 0 auto;
    text-align: center; }
    .search.banner #filter .form-field.search-btn .search_results {
      max-width: 180px;
      display: inline-block;
      vertical-align: top;
      width: 100%; }

  .bike-gallery .location-item {
    width: 45.1%;
    margin-bottom: 20px; }
    .bike-gallery .location-item:nth-child(3n) {
      margin-right: 20px;
      margin-bottom: 20px; }
    .bike-gallery .location-item:nth-child(2n) {
      margin-right: 0px; }

  .selected-filter .dropdown > li {
    width: 33.33%; }
  
      .page-not-found-wrap {
        background-image: url(../images/404page-full-bg.jpg);
        height: 190px;
        width: 380px;
        margin: 20px auto 0;
        background-size: 100% auto;
    }
    .page-not-found-wrap .paan-top,
    .page-not-found-wrap .paan-left,
    .page-not-found-wrap .cycle,
    .page-not-found-wrap .grass{
        display: none;
    }
    .page-not-found-section .container {
        padding: 0;
    }
    .page-not-found-section .page-not-font-content h1 {
        font-size: 20px;
        text-transform: uppercase;
    }
    .page-not-found-section .page-not-font-content p {
        font-size: 15px;
        text-transform: uppercase;
    }
    #page-not-found-section {
        padding: 30px 0;
    }
    .right-side-button .menu > li {
        margin-right: 25px;
    }

  /* Result Page Over */ }
@media only screen and (max-width: 767px) {
  /* Header Section */
  .header .header-wrap .right-side-button .mobile-menu {
    float: right;
    margin-top: 5px; }
    .header .header-wrap .right-side-button .mobile-menu span {
      height: 2px;
      width: 25px;
      background-color: #fff;
      display: block;
      margin-bottom: 6px;
      transition: all 0.5s; }
  .header .header-wrap .right-side-button .menu ul {
    background-color: #000;
    position: fixed;
    right: -100%;
    height: 100vh;
    top: 87px;
    width: 100%;
    padding: 0;
    transition: all 0.5s; }
    .header .header-wrap .right-side-button .menu ul li a {
      border-bottom: 2px solid #fff;
      padding: 10px 15px;
      transition: all 0.5s;
      color: #f87276;
      background-color: #000; }
      .header .header-wrap .right-side-button .menu ul li a:hover {
        background-color: #f87276;
        color: #fff;}
  .header .header-wrap .right-side-button [id|=menu-main-menu-top] > li {
    margin-right: 0px !important;
    display: block; }
    .header .header-wrap .right-side-button [id|=menu-main-menu-top] > li.pll-parent-menu-item > a {
      font-size: 16px; 
      display: block; }
      .header .header-wrap .right-side-button [id|=menu-main-menu-top] > li.pll-parent-menu-item > a img {
        width: auto;
        height: auto; }
    .header .header-wrap .right-side-button [id|=menu-main-menu-top] > li .sub-menu {
      position: relative;
      background-color: #000;
      width: 100%;
      opacity: 1;
      height: auto;
      overflow: visible;
      top: 0;
      left: 0; }
    .header .header-wrap .right-side-button [id|=menu-main-menu-top] > li .sub-menu > li {
        padding: 0; }
    .header .header-wrap .right-side-button [id|=menu-main-menu-top] > li.pll-parent-menu-item > a span {
        margin: 0 !important;
    }
    .right-side-button [id|=menu-main-menu-top] > li .sub-menu li a img {
        float: none;
        display: none;
    }  
    .right-side-button [id|=menu-main-menu-top] > li .sub-menu li a span {
        float: none;
    }
    .right-side-button [id|=menu-main-menu-top] > li.pll-parent-menu-item:after{
        display: none;    
    }

  .show-menu header .header-wrap .right-side-button .menu ul {
    right: 0; }
  .show-menu header .header-wrap .right-side-button .mobile-menu span:first-child {
    transform: rotate(45deg);
    margin: -4px 0 0 0; }
  .show-menu header .header-wrap .right-side-button .mobile-menu span:nth-child(2) {
    opacity: 0;
    width: 0; }
  .show-menu header .header-wrap .right-side-button .mobile-menu span:last-child {
    transform: rotate(-45deg);
    margin: -10px 0 0 0; }

  /* Header Section Over*/
  /* Banner Section */
  .banner {
    background-image: none;
    height: 467px;
    background-color: #769dc4; }
    .banner .banner-wrap .banner-details {
      margin: 50px auto 0; }
      .banner .banner-wrap .banner-details .banner-content h1 {
        margin: 0 auto 30px;
        max-width: 71%; }
      .banner .banner-wrap .banner-details .banner-form-wrap > span {
        margin-right: 0px;
        position: absolute;
        top: -80px;
        left: 50%;
        transform: translateX(-50%); }
        .banner .banner-wrap .banner-details .banner-form-wrap > span img {
          width: 38px;
          height: 56px; }
      .banner .banner-wrap .banner-details .banner-form-wrap .form-field {
        width: 216px;
        float: none;
        margin-bottom: 10px;
        margin-right: 0; }
    .banner .banner-wrap .scroll-down {
      display: none; }

  /* Banner Section */
  /* Product Section */
  .bike-rent-works .title {
    font-size: 28px; }
  .bike-rent-works .bike-rent-work-wrap {
    margin: 0; }
    .bike-rent-works .bike-rent-work-wrap .bike-rent-work-sec {
      float: none;
      width: 100%;
      margin-bottom: 50px; }
      .bike-rent-works .bike-rent-work-wrap .bike-rent-work-sec .bike-rent-work-img {
        height: 100px;
        margin: 0 auto 30px; }
      .bike-rent-works .bike-rent-work-wrap .bike-rent-work-sec p {
        max-width: 80%; }
    .bike-rent-works .bike-rent-work-wrap:first-child .bike-rent-work-img {
      padding-top: 0; }
    .bike-rent-works .bike-rent-work-wrap:last-child {
      margin-bottom: 0; }

  /* Product Section Over*/
  /* Footer Section */
  #footer .footer-wrap {
    padding: 0px 15px; }
    #footer .footer-wrap .left-footer-sec {
      float: none;
      width: 100%; }
    #footer .footer-wrap .right-footer-sec {
      float: none;
      width: 100%;
      text-align: center;
      position: relative;
      transform: none; }
      #footer .footer-wrap .right-footer-sec ul li {
        margin-right: 27px;
        margin-bottom: 50px; }

  /* Footer Section Over */
  /* Result Page */
  .location-leftcol {
    float: none;
    width: 100%;
    height: 100%;
    position: relative;
    min-height: 1px; }

  .search.banner .banner-details {
    margin: auto; }

  .bike-search-result {
    padding: 30px 0;
    background-size: cover; }

  .shop-locatin-on-map {
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    max-height: 100%;
    overflow-y: auto;
    border: none;
    -webkit-box-shadow: -3px 0px 0 rgba(0, 0, 0, 0.02) inset;
    box-shadow: -3px 0px 0 rgba(0, 0, 0, 0.02) inset;
    background: #fff;
    -webkit-transition: all 0.6s ease-in-out;
    -o-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
    -webkit-transform: translate(0, 110%);
    -o-transform: translate(0, 110%);
    transform: translate(0, 110%);
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box; }
    .shop-locatin-on-map.show {
      -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
      transform: translate(0, 0); }

  .search.banner #filter .form-field {
    width: 100%;
    margin: 6px 0; }
    .search.banner #filter .form-field.search-btn {
      margin: 6px auto 0 auto; }
      .search.banner #filter .form-field.search-btn .search_results {
        max-width: 100%;
        width: 100%;
        box-shadow: none; }

  .selected-filter .dropdown > li {
    width: 50%; }

  .bike-gallery .location-item {
    width: 100%;
    float: none;
    margin: 0 0 20px 0; }
    .bike-gallery .location-item:nth-child(2n), .bike-gallery .location-item:nth-child(3n) {
      width: 100%;
      float: none;
      margin: 0 0 20px 0; }
  .bike-gallery .bike-thumb {
    height: 160px; }

  .bike-thumb .rent-review {
    bottom: 0; }

  .mobile-filter-holder {
    display: block; }
    .mobile-filter-holder a {
      display: block;
      position: fixed;
      z-index: 999;
      bottom: 40px;
      right: 20px;
      height: 45px;
      background: #000;
      width: 45px;
      border-radius: 50%;
      overflow: hidden;
      box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.8);
      opacity: 1;
      text-shadow: none; }
      .mobile-filter-holder a i {
        text-align: center;
        line-height: 42px;
        font-size: 14px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        font-size: 22px;
        color: #000;
        background: rgba(0, 0, 0, 0.5);
        bottom: 0;
        display: none; }
      .mobile-filter-holder a.close i {
        display: block; }
      .page-not-found-wrap {
        height: 140px;
        width: 290px;
    }

  /* Result Page Over */ }
